.badge {
  border-radius: 8px;
  font-weight: bolder;
  margin: 0 4px;
  padding: 4px 8px;
}

.cards {
  display: grid;
  gap: 23px;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
}

.card {
  border-radius: 8px;
  color: inherit;
  line-height: 1.2;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  filter: brightness(80%);
}

.card figure {
  margin: 0;
  padding: 0;
}

.cover {
  border-radius: 8px;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-top: 140%;
  position: relative;
}

.cover .badge {
  border-radius: 8px 0 8px 0;
  left: 0;
  margin: 0;
  padding: 2px 8px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.cover img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.name {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.name div {
  font-weight: bolder;
  line-height: 1.5;
  margin: auto auto auto auto;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info {
  font-size: smaller;
}

.想看 {
  color: #faf5ff;
  background-color: #9333ea;
}

.看过 {
  color: #ecfeff;
  background-color: #0891b2;
}

.在看 {
  color: #f0fdf4;
  background-color: #16a34a;
}

.搁置 {
  color: #fefce8;
  background-color: #ca8a04;
}

.抛弃 {
  color: #fef2f2;
  background-color: #dc2626;
}
