.meta {
  font-size: 0.8rem;
  margin: 4px 0 0 0;
}

.meta + .meta {
  margin-left: 12px;
}

.icon {
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
