article.md-typeset {
  .cards.col-5.grid.links {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 8em), 1fr));

    figure {
      margin: 0 auto;

      figcaption {
        line-height: 1.1;
        margin: 0 auto;
        padding: 0.5em 0 0 0;

        span.small {
          font-size: 80%;
        }
      }

      img {
        margin: 0 auto;
      }
    }

    li {
      padding: 0;

      a {
        display: block;
        height: 100%;
        padding: 0.5em;
        width: 100%;
      }
    }
  }

  .cards.grid.links {
    li {
      padding: 0;

      a {
        display: block;
        height: 100%;
        padding: 0.8em;
        width: 100%;
      }
    }
  }

  table:not([class]) {
    img {
      width: 32px;
    }

    td,
    th {
      padding: 0.5em 1em;
      vertical-align: middle;
    }
  }
}
